:root {
    --firtColor: white;
    --secondColor: black;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: var(--firtColor);
}

div#score {
    position: fixed;
    font-size: 1.2em;
    top: 25%; left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

canvas {
    background-color: var(--secondColor);
    image-rendering: pixelated;
}

div#command {
    position: fixed;
    top: 60%; left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#command > button {
    all: unset;
    color: var(--firtColor);
    background-color: var(--secondColor);
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border: 3px solid var(--firtColor);
}

div#command > button:hover {
    cursor: pointer;
}

div#command > button:active, 
div#command > button.active {
    color: var(--secondColor);
    background-color: var(--firtColor);
}

div#command > small {
    margin: 5px;
    font-weight: bold;
}